bin/
.vscode/
__pycache__/
guidelines.pdf
images/
plots_CubeSurfaceTraction/
plots_IH/
plots_KH/
plots_MH/
plots_PP/
plots_eta10_2/
plots_eta10_3/
plots_eta10_4/
plots_eta10_5/
plots_isotropic/
plots_kinematic/
plots_mixed/
plots_noHardening/
plots_sawtooth/
plots_t_2s/
plots_t_4s/
plots_t_8s/
plots_triangular/
plots_viscoLinIsoHard/
plots_viscoMixKinHard/
rapport_precedents/
statement.pdf
stepVSsawtooth/
tuto.pdf
tutoriel/
viscoLinIsoHard/
workspace/
