.vscode/
__pycache__/
elastoPlot.py
guidelines.pdf
images/
load.py
part1/images/
plots_CubeSurfaceTraction/
plots_IH/
plots_KH/
plots_MH/
plots_PP/
plots_eta10_2/
plots_eta10_3/
plots_eta10_4/
plots_eta10_5/
plots_isotropic/
plots_kinematic/
plots_mixed/
plots_noHardening/
plots_sawtooth/
plots_t_2s/
plots_t_4s/
plots_t_8s/
plots_triangular/
plots_viscoLinIsoHard/
plots_viscoMixKinHard/
rapport_precedents/
simulations/part1/images/
simulations/part3/images/
simulations/part3/stepVSsawtooth/
simulations/part3/viscoLinIsoHard/
statement.pdf
stepVSsawtooth/
tuto.pdf
tutoriel/
viscoLinIsoHard/
viscoPlot.py
workspace/
